body{
    background: #462E01;
}
a{
    display: block;
    text-align: center;
    
}

h1{
    color: brown;
    font-size: 1.5em;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}



/*HEADER & FOOTER*/
header, footer{
    width: 100%;
    padding: 20px 0px;
    background: url("fond.jpg") #4f4f4f;
    box-shadow: 0px 0px 15px #333;
}


header a{
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
}

header img{
    width: 40%;
    height: 40%;
    border: 3px solid #fff;
    
}

footer{
    border-top: 2px solid #fff;
}
footer a{
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}


/*SECTIONS*/
section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}



form {
      margin-top: 8px;
    }
    
input[type="text"], input[type="email"], select {
    flex-grow: 1;
    margin: 4px;
    border: none;
    border-bottom: 1px solid #cacaca;
    padding: 5px;
}

input[type="text"]:invalid, input[type="email"]:invalid {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ff5252;
    caret-color: #ff5252;
    padding: 5px;
}



ul{
    list-style-type: "\1F44D"; 
    
}

li {
  padding: 5px 10px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}
/* main */
main .box {
    overflow-x: scroll;
    flex-wrap: wrap;
    border:1px ;
    border-radius:25px;
    box-shadow: 0px 0px 15px #333;
    display: flex;
    flex-flow: wrap;
  }

  .box {
    background-color: rgb(248, 245, 245);
    margin: 2em;
    padding: 16px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    border:1px ;
    border-radius:25px;
    box-shadow: 0px 0px 15px #333;
    
}

  .btn {
    background-color: #f5f5f5;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    text-transform: uppercase;
    padding: 6px;
    border: none;
    margin: 0px 10px;
  }
  
  .btn.disabled {
    box-shadow: none;
    background-color: rgb(78, 37, 37);
  }
  
  .btn:hover {
    background-color: #188853;
    cursor: pointer;
  }
  
  .datatable {
    width: 100%;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12) !important;
  }
  
  .datatable td, .datatable th {
    text-align: center;
    padding: 24px;
  }
  .datatable tr:not(:last-child) td, .datatable th {
    border-bottom: 1px solid #ccc;
  }
 